{% extends "base.html" %}

{% block content %}

    <form method='post' action="/newpost">

        <label for="title">Title for your new blog:</label><br/>
	    <input type="text" id="title" name='title' value="{{blogTitle}}"/><br/>
	    <span style="color: red;">{{terror}}</span><br/><br/>

	    <label for="body">Your new blog:</label><br/>
        <textarea id="body" name='body' />{{blogBody}}</textarea><br/>
        <span style="color: red;">{{berror}}</span><br/><br/>
        
        <input type="submit" value='Add Entry' />
        
    </form>


{% endblock %}
